/* General Styling */

:root {
  --primary-colour: #242424;
  --secondary-color: #000000a2;
  --tertiary-color: #ffffff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: var(--tertiary-color);
  font-family: Helvetica, Arial, sans-serif;
}

section {
  padding: 60px;
}

/* Header */

header {
  padding: 20px 35px;
  background-color: var(--secondary-color);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: sticky;
  
  top: 0;
  background-size: cover;
  background-attachment: fixed;
  background-position: 80%;
  z-index: 9999;
}

header h1 {
  font-weight: bold;
  margin: 0;
  font-size: 40px;
  color: var(--primary-color);
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header a {
  text-decoration: none;
  color: var(--primary-color);
}

header nav {
  margin: 7px 0;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li a {
  padding: 10px 15px;
  font-size: 1.55vw;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header nav ul li a:hover {
  background: var(--primary-color);
  color: var(--secondary-color);
  border-radius: 15px;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}


/* Hero */
.hero {
  background-image: url('../images/hero-img.jpg');
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
  background-attachment: fixed;
  background-position: 80%;
}

.hero button {
  border: none;
  border-radius: 10px;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: rgb(5, 0, 53);
  background-color: rgba(255, 253, 253, 0.836);
  text-align: center;
  cursor: pointer;
  font-size: medium

}

.hero button:hover {
  background-color: rgba(85, 85, 85, 0.555);
  color: white;
}

/* About Section & Contact Section */

section {
  padding: 60px;
}

.section-title h2 {
  font-size: 48px;
  border-bottom: 3px solid;
  color: var(--secondary-color);
  padding-top: 100px;
  padding-bottom: 20px;
  text-align: center;
  margin: 0 auto 35px auto;
  width: 50%;
}

.primary-border {
  border-color: var(--primary-color);
}

.flex-row p {
  display: flex;
  font-size: 20px;
  color: var(--secondary-color);
  padding-bottom: 20px;
  text-align: center;
  margin: 0 auto 35px auto;
  width: 50%;
}

.flex-row img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding-bottom: 35px;

}

.flex-row a {
  display: flex;
  font-size: 20px;
  color: var(--secondary-color);
  padding-bottom: 20px;
  text-align: left;
  margin: 0 auto 35px auto;
  width: 100%;
}

/* Work section */
.grid {
  display:grid;
grid-template-columns: 25% 25% 25% 25%;
padding: 10px;
}

.grid h3{
  color: var(--secondary-color);
  font-size: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  margin: 0 auto 35px auto;
  width: 50%;
}

.grid > div{
  padding: 5px;
  background-color: rgba(141, 141, 141, 0.5);
}

.grid >div:nth-child(odd) {
  background-color: rgba(255, 255, 255, 0.76);
}

.item1 {
  grid-area: 1 / 1 / span 1 / span 4;
}

.hvr :hover{
  background: #555;
  color: white;
}



/* Adjustment for different size screens */

@media screen and (max-width: 768px) {
  header {
    padding-bottom: 0;
    justify-content: center;
  }

  header h1 {
    width: 100%;
    text-align: center;
  }

  header nav ul {
    margin-top: 20px;
    width: 100%;
    justify-content: center;
  }

  header nav ul li a {
    font-size: 20px;
  }

  .section-title {
    width: 80%;
  }

  .grid {
    padding: 30px 15px;
  }

  .grid h3 {
    flex: 1 100%;
    text-align: center;
  }

  .grid {
    flex: 2 100%;
    text-align: center;
    justify-content: center;
  }

  .grid img {
    flex: 0 32%;
    margin-right: 0;
    margin-top: 15px;
    margin-bottom: 15px;
  }
}